.ipynb_checkpoints
DS_Store
lib/
notebooks_old/
carveme/
input/genbank.zip
tebooks_old/
output/GEMs/GEMs_final/        
output/GEMs/GEMs_intermediate/        
output/GEMs/GEMs_intermediate.zip
output/GEMs/old_GEMs_adapt_media_ACt2r.zip
output/GEMs/old_GEMs_intermediate.zip
input/genbank/
input/genbank.zip
output/GEMs/GEMs_no_constraints/        
output/MAGs_fasta.zip        
output/MAGs_fasta/       
output/old_data/
